body {

    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
box-sizing: border-box;
}

header {

    background-color: rgb(184, 131, 61);
    display: flex;
    /* flexbox activado */
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    /* 5px arriba y abajao, 10% los costados */
}



.imagenLogo {
    height: 110px;
    width: auto;
cursor: pointer;
transition: all 0.3s;
/* efecto de zoom con transform y el hover */
}

.imagenLogo:hover{
transform: scale(1.2);
/* efecto de zoom con cursor pointer y el transition */

}

.lista li{

    list-style: none;
    display: inline-block;
    padding: 0 20px;
   
}

.lista li:hover{
    transform: scale(1.1);
    
}

a{
text-decoration: none;

}

.link1{
    font-size: 18px;
    color: white;
    text-decoration: none;

}

.lista a:hover{
    color: rgb(97, 55, 15);
}


.loger{
   display: flex;
   justify-content: flex-end;
   

}

.login{

font-weight: 700;
color: black;
padding: 10px 25px;
background-color: gold;
border: none;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s;
margin-right: 20px;

}

.login:hover{
background-color: dimgray;
color: white;
transform: scale(1.3);

}

.register{

    font-weight: 700;
    color: black;
    padding: 10px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    
}

.register:hover{

    background-color: dimgray;
color: white;
transform: scale(1.3); 


}


/* BODY */

.titulo2{
font-size: 100px;

}

